.App {
  text-align: center;
}

body {
  background-color: #f6f4ef
}

h1 {
  border-style: dotted;
  border-width: thick;
  border-color: #F7591f;
  color:black
}

h2 {
  font-family: 'Amatic SC';
  font-size: 3rem;
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  border-style: dotted;
  border-width:medium;
  width: 40%;
  padding: .75rem;
}

.images img {
  max-width: 50%;
  height: auto;
  justify-content: space-evenly;
  padding-bottom:50px;
  cursor: pointer;
  color:black
}

button {
  background: none;
  border: none;
}

header {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e226;
  border-style:ridge;
  border-width: 20px;
  border-color: #F7591f;
  color: #F7591f;
  padding: 1%;
  padding: 0%;
  font-family: 'Amatic SC';
}

header div {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:2%;
}

header img {
  display: center;
  width:50%;
  height:auto;
}

header input[type=text] {
  width: 50%;
  height:3em;
  font-size: 1.25em;
  background: none;
  border:1px solid #eeeeff;
  border-radius: 4px;
  color:#eeeeff;
  margin-top:1%;
  padding:.5rem;
}

header h1 {
  font-size: 3rem;
  margin-top: 10%;
  margin-bottom: 10%;
}

.login {
  font-size: 3rem;
  margin-top: 10%;
  margin-bottom: 10%;
}

footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e226;
  border-style:ridge;
  border-width: 20px;
  border-color: #F7591f;
  color: #F7591f;
  padding: 1%;
  font-family: 'Amatic SC';
  font-size: 2rem;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit: fill;
  z-index: -1;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  top: calc(100 + .25rem);
  background-color: #f6f4ef;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 #e7e226(.1); ;
}

.dropdown-menu-active {
  opacity: .1;
}

.sandwichImage img {
  display:inline-flex;
  flex-direction: row;
  height: 125px; 
  width: 125px; 
  max-width: 50%;
  justify-content: space-evenly;
  padding-bottom:20px;
  padding-right: 3%;
}

.sandwich-info {
  font-family: "Josefin Sans", 300;
  font-weight: 400;
}

.setSandwich {
  font-family: 'Amatic SC';
  font-size: 3rem;
  font-weight: bold;
}

.addOrder {
  font-family: 'Amatic SC';
  font-size: 2rem;
  font-weight: 700;
  background-color: #e7e226;
  text-align: center;
  border-style: dotted;
  border-width: medium;
  width: 35%;
  padding: 10px 0 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.MenuItem-container p {
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  font-weight:900;
  margin: 0em;
}

.your-orders h1 {
  font-family: 'Amatic SC';
  font-size: 3rem;
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  border-style: dotted;
  border-width:medium;
  width: 50%;
}

.your-orders button {
  font-family: 'Amatic SC';
  font-size: 2rem;
  font-weight: bold;
  margin: 0em;
}

.your-orders span {
  font-family: 'Amatic SC';
  font-size: 2rem;
  font-weight: bold;
}

.NewSandwich option {
  font-family: 'Amatic SC' !important;
  font-size: 1.5rem;
 
}

.remove button {
  font-family: 'Amatic SC';
  font-size: 1.5rem;
  margin: 0em;
}

.order-history {
  font-family: 'Amatic SC';
  font-size: 1.5rem;
  margin: 0em;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

a:hover {
  background-color: #f5b942;
}

.sandwich-visual-container {
  display:inline-flex;
  flex-direction: row;
  height: 75px; 
  width: 75px; 
  max-width: 50%;
  justify-content: space-evenly;
  padding-bottom:20px;
  padding-right: 3%;
}


.select-sandwich {
  max-width: 30%;
  height: auto;
  justify-content: space-evenly;
  padding-bottom:50px;
  cursor: pointer;
}
