.App {
  text-align: center;
}

body {
  background-color: #f6f4ef
}

h1 {
  border-style: dotted;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  border-style: dotted;
  margin: center

}

.images img {
  max-width: 50%;
  height: auto;
  justify-content: space-evenly;
  padding-bottom:50px;
  cursor: pointer;
  color:black
}

button {
  background: none;
  border: none;
}

header {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e226;
  border-style:ridge;
  border-width: 20px;
  border-color: #F7591f;
  color: #F7591f;
  padding: 0%;
  font-family: 'Amatic SC', cursive;
}

header div {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:2%;
}

header img {
  display: center;
  width:50%;
  height:auto;
}

header input[type=text] {
  width: 50%;
  height:3em;
  font-size: 1.25em;
  background: none;
  border:1px solid #eeeeff;
  border-radius: 4px;
  color:#eeeeff;
  margin-top:1%;
  padding:.5rem;
}

header h1 {
  font-size: 4.0rem;
  margin-top: 10%;
  margin-bottom: 10%;
}

footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e226;
  border-style:ridge;
  border-width: 20px;
  border-color: #F7591f;
  color: #F7591f;
  padding: 1%;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit: fill;
  z-index: -1;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  top: calc(100 + .25rem);
  background-color: #f6f4ef;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 #e7e226(.1); ;
}

.dropdown-menu-active {
  opacity: .1;
}

